.navigator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75vw;
    height: 85vh;
}

.styleFilter{
    font-size: 16pt;
}

@media(width < 480px){
    .navigator {
        width: 100vw;
    }
}

.titleEmployee {
    background-color: #61dafb71;
    font-size: 25pt;
}

.filterSpace {
    display: flex;
    justify-content: space-between;
}

.alignFilters {
    display: flex;
    width: 10rem;
    margin: 5px;
    justify-content: space-between;
}

.align {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Funções da tabela */
.table {
    position: sticky;
    width: (400px, 800px);
}

.table tr {
    scroll-snap-align: start;
}

.tabScroll {
    display: flex;
    scrollbar-color: #282c34 #282c34;
    scrollbar-width: thin;
    overflow-x: auto;
    scroll-snap-type: y mandatory;
    transition: 1s;
}

.tabScroll:hover {
    scrollbar-color: #fcfcfc42 #282c34;
    transition: 1s;
}
