
Card {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.navigator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #337b8f;
    width: 100vw;
    height: 80vh;
}

.cardsPersonal {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #112c33;
    width: 100vw;
}

.table th {
    background-color: var(--lightBlue2);
    position: sticky;
    top: -1px;
}
.table {
    width: (400px, 800px);
}
.table tr {
    scroll-snap-align: start;
}
.tabScroll {
   overflow-y: auto;
   scroll-snap-type: y mandatory;
   height: 600px;
   width: 95vw;
}
