.cardBase {
    display: flex;
    justify-content: space-between;
    background-color: #fcfcfc42;
    width: 98rem;
    margin: 5px;
    padding: 10px;
}

.personnelData {
    display: flex;
    flex-direction: column;
    width: 85%;
}

.personnelImg {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    width: 15rem;
    height: 15rem;
}

.styleHeader{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 25px;
}

.styleData {
    padding-left: 10px;
    font-weight: normal;
    text-align: justify;
}

@media(width < 480px){
    .cardBase {
        width: 49rem;
    }
    .personnelData {
        width: 70%;
    }
}