Card {
    display: flex;
    justify-content: space-between;
    background-color: #fcfcfc42;
    width: 72vw;
    margin: 5px;
    padding: 5px;
}

.personnelData {
    display: flex;
    flex-direction: column;
    width: 85%;
}

.personnelImg {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    width: 150px;
    height: 150px;
}

.styleHeader{
    font-weight: 700;
    font-size: 24px;
}
.styleData {
    display: flex;
    text-align: justify;
    align-items: end;
    padding-left: 5px;
    font-size: 20px;
    font-weight: normal;
}

@media(width < 480px){
    Card {
        width: 40rem;
    }
    .personnelData {
        width: 70%;
    }
    .styleHeader{
        font-size: 20px;
    }
    .styleData {
        font-size: 16px;
    }
} 

th {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}