register {
    display: none;
}

.App-asas {
    height: 40vmin; /* height: 40vmin; segunda opção / width: 40vmin; primeira opção */
    pointer-events:all;
    will-change: filter;
    transition: filter 3s;
}

.App-asas:hover {
    filter: drop-shadow(0px 0px 10px gray);
    transition: 3s;
}

@media (prefers-reduced-motion: no-preference) {
    .App-asas {
        animation: App-asas-spin infinite 30s linear;
    }
}

@keyframes App-asas-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}